<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labsmaps</title>
</head>
<body>
    <h1>Lab Locator</h1>
    <div>

    </div>
    <div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=10jGG4ZDOdY365_xqb-v_CvS-h937iTXa" width="640" height="480"></iframe>
        <h2>
           Explore the map to locate pathologies, laboratories and other important departments concerned with malaria.
        </h2>
</div>
</body>
</html>